:root {
  --color-white: rgb(255, 255, 255);
  --color-shadow: rgba(0, 0, 0, 0.445);  
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;  
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.header-title {
  color: var(--color-white);
  margin: 30px;
}

section { 
  align-items: center;
  background: var(--color-white);
  border-radius: 10px;  
  box-shadow: 5px 5px 10px var(--color-shadow);
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 45%;  
  justify-content: center;
  min-height: 370px;
  min-width: 320px;
  padding: 20px;
  width: 40%;
}

/* ---- SECTION CONFIG ---- */

#alarm-clock {
  align-items: center;
  display: flex;
  gap: 30px;    
}

.hour-text {
  font-size: 17px;  
  text-align: center;
}

p:first-child {
  margin-bottom: 8px;
}
 
.alarm-settings {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "input-time select"
                       "btn btn"; 
}

.input-time {
  cursor: pointer;
  grid-area: input-time;
}

.height-size {
  height: 25px;
}

.select-song {
  grid-area: select;
}

.btn-alarm {
  border: none;
  border-radius: 7px;  
  color: var(--color-white);
  cursor: pointer;   
  font-weight: 700; 
  grid-area: btn;    
  padding: 0 5px;  
}

#main-img {  
  border-radius: 50%;  
  height: 200px;  
  width: 200px;
}

/* ---- FOOTER CONFIG ---- */

footer p {
  color: var(--color-white);
  font-weight: 700;
  margin-top: 40px;
}

footer span {
  color: rgba(245, 25, 25, 0.959);
}

/* ---- MEDIA QUERY ---- */

@media screen and (max-width: 1024px){
  
  section {
    height: 60%;
  }

  #alarm-clock {
     flex-direction: column;
  }
};